<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestWcfService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITestWcfService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/GettingStarted/TestWcfService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestWcfService"
                contract="ITestWcfService" name="WSHttpBinding_ITestWcfService">
                <identity>
                    <userPrincipalName value="BTHOMAS3@AD.HQ.DEPT" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Pub/TestWcfService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestWcfService"
                contract="ServiceReference1.ITestWcfService" name="BasicHttpBinding_ITestWcfService" />
        </client>
    </system.serviceModel>
</configuration>